@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #162330;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  margin: auto;
  max-width: 800px;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 16px;
  gap: 16px;
  background-color: #1F2937; 
  flex-direction: column;
}

.controls {
  display: flex;
  justify-content: center;
}

button {
  border: none;
  border-radius: 8px;
  transition: all .07s ease;
  margin: 25px;
  padding: 8px;
  font-weight: 600;
  align-items: center;
  color: #162330;
}

.button-hover {
  transform: scale(1.01);
  border: 1px solid gold;
  box-shadow: 0 0 1rem #ffc600;
}

.container  {
  display: grid;
  /* grid-template-columns: repeat(16, 45px [col-start]);
  grid-template-rows: repeat(16, 45px [row-start]); */
  /* grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); */
  padding: 1em;
  justify-content: center;
  height: 600px;
  width: 600px;
  margin-bottom: 120px;
  line-height: 0;
  overflow: hidden;
  box-sizing: border-box;
}

.grid {
  flex: 1;
  padding: 10px;
  min-width: 1.5em;
  min-height: 1.5em;
  border: 1px solid gray;
  background-color: white;
  transition: all .07s ease;

float:right;
  overflow:hidden;
  box-sizing: border-box;
  margin: auto;
}

.footer {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 48px;
  color: #484d8a;
}
/* 
.hovered {
  background-color: black;
} */

/* .rainbow {

} */